.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 0;

  &__link:hover {
    opacity: 0.8;
  }

  &__img {
    display: block;
  }
  
  &__nav {
    display: flex;
  }
}

.nav {

  &__item {
    margin-left: 32px;
  }

  &__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888f;
  
    &:hover {
      color: #202020;
    }
  }
}
